@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste New Century</title>
    
</head>
<body>
    <div class="container">
        <h4>Daniel França Almeida</h4>
        <br />
        <p>Olá, obrigado por me deixar participar deste teste.</p>
        
        <p>Eu acredito que este seja o tempo máximo para fazer o teste, então encaminho o meu para vocês darem uma olhada.</p>
       
        <a href="https://github.com/D-Franca-Almeida/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i> GitHub.
        </a>
    </div>

</body>
</html>
