@model NewCenturyTest.Models.Q5Models.HistoricoTentativas

<h4>HistoricoTentativas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Q5Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodJogador" class="control-label"></label>
                <input asp-for="CodJogador" class="form-control" />
                <span asp-validation-for="CodJogador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumTentativa" class="control-label"></label>
                <input asp-for="NumTentativa" class="form-control" />
                <span asp-validation-for="NumTentativa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDigitado" class="control-label"></label>
                <input asp-for="NumeroDigitado" class="form-control" />
                <span asp-validation-for="NumeroDigitado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHoraTentativa" class="control-label"></label>
                <input asp-for="DataHoraTentativa" class="form-control" />
                <span asp-validation-for="DataHoraTentativa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resultado" class="control-label"></label>
                <input asp-for="Resultado" class="form-control" />
                <span asp-validation-for="Resultado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NivelDoJogo" class="control-label"></label>
                <input asp-for="NivelDoJogo" class="form-control" />
                <span asp-validation-for="NivelDoJogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDoJogo" class="control-label"></label>
                <input asp-for="NumeroDoJogo" class="form-control" />
                <span asp-validation-for="NumeroDoJogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
